# Terraform
*.tfstate
*.tfstate.backup
*.tfvars
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
terraform.tfvars.json
modules.json

# Terragrunt
.terragrunt-cache/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
*.log

# VS Code
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Local test/output files
filtered_products.json
